*,
*::before,
*::after{
	box-sizing:border-box;
	margin:0;
	padding:0;
  zoom:99%;
}

*::-webkit-scrollbar-thumb {
background:#f7f7f7;

}


*::-webkit-scrollbar {
    width: 0.3em;
}

body {
  font-family:Rabar_021,sans-serif;
  color:#f7f7f7;
  background-color:#195bbc;
  }

@font-face {
  font-family:Rabar_021;
  src: url(../fonts/Rabar_043.ttf);  
}

 
 



.content {
  margin-top:5rem;
}





.opacity-1 {
 opacity:0.9; 
}

.opacity-2 {
 opacity:0.8; 
}

.opacity-3 {
 opacity:0.7; 
}

.opacity-4 {
 opacity:0.6; 
}

.opacity-5 {
 opacity:0.5; 
}

.opacity-6 {
 opacity:0.4; 
}

.opacity-7{
 opacity:0.3; 
}

.opacity-8 {
 opacity:0.2; 
}


.opacity-9 {
 opacity:0.1; 
}


.m-1 {
  margin:2px;
}

.m-2 {
  margin:4px;
}

.m-4 {
  margin:8px;
}

.m-4 {
  margin:2px;
}
.radius-lg {
  border-radius:15px;
}

.radius-md {
  border-radius:10px;
}


.radius-sm {
  border-radius:5px;
}



.border-0 {
  border:0px;
}






.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}




.form-control {
text-align: center;
padding:0.5rem;
margin:0.1rem;
}


a {
  text-decoration:none;
}

.wrapper {
  margin-top:8rem;
}